html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
  -direction: column;
}

/* //////////////////////////////////// NAVBAR ///////////////////////////////////////////*/

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  background: rgba(68, 50, 151, 1);
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_top > a img {
  margin-right: 76px;
  width: 117px;
  height: 36px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 650px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.navbar_frame .navbar_top .search_box {
  padding: 10px 17px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid rgba(214, 214, 214, 1);
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .search_box input {
  width: 387px;
  height: 22px;
  border: none;
  outline: none;
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .nav_search_frame .search_icon_box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 6px 6px 0;
  background: rgba(245, 195, 75, 1);
}

.navbar_frame .search_icon_box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box_info_box span {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_info_box strong {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(245, 195, 75, 1);
  border-radius: 50%;
  color: rgba(11, 30, 64, 1);
  font-family: Inter;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #5746a1;
}

.navbar_frame .navbar_bott .navbar_bot_menu_box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_bott .browse_box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
  cursor: pointer;
}

.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  margin-right: 21.23;

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .navbar_bot_menu_box .navbar_route_menu {
  width: 690px;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
}
.navbar_frame .navbar_route_menu .router_menu {
  width: auto;
  height: 41px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .router_menu a {
  margin-right: 20px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: #ffffff;
}

.navbar_frame .router_menu a.active {
  color: #f5c34b;
}

.navbar_frame .navbar_bot_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}
.navbar_frame .sorting_menu span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
}

/*//////////////////////// PRODUCT-BOX-CONTAINER //////////////////////////////////*/

.container .product-boxes .product-box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.container .product-box .product-img-box {
  width: 75%;
  height: 208px;
}

.container .product-img-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container .hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.container .product-img-box:hover .hover-box {
  display: flex;
}

.container .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container .product-content-box .product-title {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container.product-content-box .product-desc {
  margin-top: 7px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.container .product-content-box .rewiew-box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .rewiew-box img {
  margin-right: 5px;
}

.container .rewiew-box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.container .product-content-box .price-box {
  margin-top: 10px;

  display: flex;
  align-items: center;
}

.container .price-box strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.container .price-box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

/* * ///////////////////////// PREV-NEXT /////////////////////////////////// */

.container .next-prev-box {
  width: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container .next-prev-box img {
  position: relative;
  top: 50%;
  cursor: pointer;
}

/* ///////////////////////////// header frame/////////////////////////////////////// */

.container .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category-top div {
  display: flex;
  flex-direction: row;
}

.container .category-top span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.container .category-top a {
  margin-left: 30px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.container .category-top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

/

/* //////////////////////////// PAGIONATION ///////////////////////////////////////// */

.container .pagionation-box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation-box .pagionation-main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .pagionation-main .pagination-dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.pagionation-main img {
  cursor: pointer;
}

.container .pagination-dot .dot {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.container .pagination-dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}

.container .pagination-dot .dot div {
  width: 4px;
  height: 4px;
  background: rgba(17, 33, 55, 1);
  border-radius: 50%;
}

/* ///////// Hover-border */
.container .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgba(4, 30, 66, 1);
}
