/*////////////////////////////////// HEADER_FRAME ///////////////////////////////////////*/

.Home_page {
  display: flex;
  flex-direction: column;
}

.Header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.Header_frame .container {
  flex-direction: row;
}

.Header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;

  background: rgba(0, 83, 246, 1);
  background-image: url("../images/icons/header_bg.svg");
  border-radius: 5px;
}

.Header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.Header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.Header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
  height: 152px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0%;
  text-align: left;
}

.Header_frame .header_content p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.Header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.Header_frame .header_content img {
  position: absolute;
  display: flex;
  align-self: flex-end;
}

.Header_frame .container .header_right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header_frame .header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: rgba(242, 242, 242, 1);
  border-radius: 5px;
}

.Header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header_frame .box_left span {
  color: rgba(0, 83, 246, 1);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.Header_frame .box_left p {
  margin: 10px 0px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 38px;
  font-weight: 500;
  line-height: 38px;
}

.Header_frame .box_left a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.Header_frame .header_box .box_right {
  width: 50%;
}
.Header_frame .box_right img {
  width: 100%;
  height: 100%;
}

/*/ ///////////////////////////////////// SERVICE FRAME ///////////////////////////////// */

.Home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;
  display: flex;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.service_frame .service_content p {
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* /////////////////////////////////// SHOP_CATEGOR ///////////////////////////////////// */

.shop_category_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wraper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wraper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
  margin-top: 15px;
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  background: rgba(255, 255, 255, 1);
}

.shop_category_frame .category_box span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* ////////////////////////////// TOP-SELLING-PRODUCT //////////////////////////////// */

.top-selling-product-frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.top-selling-product-frame .container {
  flex-direction: column;
}

.top-selling-product-frame .container .product-wraper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-selling-product-frame .product-wraper .product-boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.Home_page .adv-frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 237, 255, 1);

  color: rgba(0, 83, 246, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

/* /////////////////////// SPEC-PRODUCT /////////////////////// */

.Home_page .spec-product-frame {
  position: relative;
  margin-top: 90px;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec-product-frame .container {
  flex-direction: column;
}

.container .spec-products-wraper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.spec-products-wraper .big-product-box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.big-product-box .big-product-content {
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big-product-content span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.big-product-content p {
  margin: 7px 0;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.big-product-content a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.big-product-box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.spec-products-wraper .small-product-wraper {
  margin-left: 30px;
  width: 620px;
  height: 368;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small-product-wraper .small-product-box {
  padding: 30px;
  position: relative;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(243, 245, 246, 1);
}

.small-product-box:nth-child(odd) {
  margin-right: 30px;
}

.small-product-box .small-product-content {
  position: relative;

  display: flex;
  flex-direction: column;
}
.small-product-content strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.small-product-content span {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.small-product-box img {
  position: absolute;
  right: 10%;
  bottom: 15px;
}

/* ///////////////////////// TV-FRAME /////////////////////////////// */

.Home_page .Tv-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Tv-frame .container {
  flex-direction: column;
}

.container .tv-wraper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv-wraper .tv-product-boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.tv-product-boxes .tv-product-box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
}

.tv-product-box .tv-product-img {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* //////////////////////// EVENT-FRAME ///////////////////////////////////////// */

.event-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(../images/icons/event_bg.png);
  background-size: cover;
}

.event-frame .container {
  flex-direction: row;
  justify-content: center;
}

.container .event-content-box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-content-box .event-title {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.event-content-box .timer-wraper {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.timer-wraper .timer-box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.timer-box strong {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.timer-box span {
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.event-content-box a {
  width: 140px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 6px;
  text-transform: capitalize;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.container .event-product-wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-product-wrapper .event-product-boxes {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-product-boxes .event-product-box {
  margin-right: 8px;
  position: relative;
  width: 205px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #ffffff;
}

.event-product-box .event-product-img {
  width: 100%;
  height: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}
