/*////////////////////////////////// HEADER_FRAME ///////////////////////////////////////*/

.Home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.container .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category-top span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}
.category-top a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.category-top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

.Header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.Header_frame .container {
  flex-direction: row;
}

.Header_frame .container .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;

  background: rgba(0, 83, 246, 1);
  background-image: url("../images/icons/header_bg.svg");
  border-radius: 5px;
}

.Header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.Header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.Header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
  height: 152px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0%;
  text-align: left;
}

.Header_frame .header_content p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.Header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.Header_frame .header_content img {
  position: absolute;
  display: flex;
  align-self: flex-end;
}

.Header_frame .container .header_right {
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header_frame .header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: rgba(242, 242, 242, 1);
  border-radius: 5px;
}

.Header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header_frame .box_left span {
  color: rgba(0, 83, 246, 1);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.Header_frame .box_left p {
  margin: 10px 0px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-style: normal;
  font-size: 38px;
  font-weight: 500;
  line-height: 38px;
}

.Header_frame .box_left a {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.Header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgba(4, 30, 66, 1);
}

.Header_frame .header_box .box_right {
  width: 50%;
}
.Header_frame .box_right img {
  width: 100%;
  height: 100%;
}

/*/ ///////////////////////////////////// SERVICE FRAME ///////////////////////////////// */

.Home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.service_frame .container {
  flex-direction: row;
}

.service_frame .container .service_box {
  width: 25%;
  height: 86px;
  display: flex;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.service_frame .service_content p {
  color: rgba(98, 105, 116, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

/* /////////////////////////////////// SHOP_CATEGOR ///////////////////////////////////// */

.shop_category_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.shop_category_frame .container {
  flex-direction: column;
}

.shop_category_frame .container .category_wraper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop_category_frame .category_wraper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.shop_category_frame .category_box .category_img_box {
  margin-top: 15px;
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 150px;
  background: rgba(255, 255, 255, 1);
}

.shop_category_frame .category_box span {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

/* ////////////////////////////// TOP-SELLING-PRODUCT //////////////////////////////// */

.top-selling-product-frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.top-selling-product-frame .container {
  flex-direction: column;
}

.container .product-wraper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-wraper .next-prev-box {
  width: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.next-prev-box img {
  position: absolute;
  top: 50%;
}

.product-wraper .product-boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.product-boxes .product-box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;

  /* cursor: pointer; */
}

.product-box .product-img-box {
  width: 75%;
  height: 208px;
}

.product-img-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.product-img-box:hover .hover-box {
  display: flex;
}

.product-box .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.product-content-box .product-title {
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.product-content-box .product-desc {
  margin-top: 7px;
  height: 56px;
  color: rgba(4, 30, 66, 1);
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.product-content-box .rewiew-box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rewiew-box img {
  margin-right: 5px;
}

.rewiew-box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.product-content-box .price-box {
  margin-top: 10px;

  display: flex;
  align-items: center;
}

.price-box strong {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.price-box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}
